{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/site.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" type="image/x-icon" href="static/images/icon.png">

    <!-- <link rel="stylesheet" href="static/css/uikit.min.css"/> -->
    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
  
</head>
<body >

    
    

    <div class="uk-container">
        {% csrf_token %}
        
        <div uk-grid class=""  style="margin-left: 0; margin-top: 5vh; margin-bottom: 10vh;">
            <div class="uk-card uk-card-secondary  uk-width-1-1@m  round " style="padding: 15px;">
                <img src="/static/images/iiitd.png" width="100px" height="auto" style="margin-top: 7px;">
                <img src="/static/images/sbilogo.png" width="65px" height="auto" class="uk-align-right" style="margin: 0;">
                <h3 class ="uk-position-center"  style="color: #3FADA8;  font-size: 1.8vw; margin-top: 0px;"> Covid Severity Calculator</h3>
                
            </div>
            <div class="uk-width-1-1@m" style="padding-left: 0;">
                
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin round info uk-padding uk-box-shadow-large uk-height-max-large" >
                    

                <div class="uk-align-center uk-text-small infotext">
                    An interpretable AI model that predicts a covid patients severity based on 41 Parameters.</br>                  

                    <p style="font-size: smaller;">
                        <b>Cite: </b>
                        <br><b>Please note:</b> AI model's results need to be confirmed by a practicing physician, the report cannot be used for any type of interventions without a doctor's consent.
                    </p>

                </div>

                </div>

            </div>
            <div class="uk-width-1-1@m" style="padding-left: 0;">
                
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin round info uk-padding uk-box-shadow-large " >
                    <h3>Enter Patient's Parameters:</h3>
                    <form action="/predict" method="POST">
                        {% csrf_token %}
                        <div class="uk-grid-row-small uk-child-width-expand@s" uk-grid style="margin-left: 0;">
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Age
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="age">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Duration of Stay
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="dos">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Hemoglobin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="hemo">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Platelet Count
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="plate">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                MCV
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="mcv">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                MCHC
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="mchc">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                RDW
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="rdw">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Monocytes
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="mono">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Neutrophils Absolute
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="neutro">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Lymphocytes Absolute
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="lympho">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Eosinophils Absolute
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="eosino">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Monocytes Absolute
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="monoabs">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Basophils Absolute
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="baso">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                NLR
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="'nlr">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                LMR
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="lmr">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                NMR
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="nmr">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Total Bilirubin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="totbil">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Indirect Bilirubin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="indbil">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                SGPT/ALT
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="sgpt">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                SGOT/AST
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="'sgot">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Total Protein
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="totprot">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Alkali Phosphate
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="alkphos">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Globulin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="glob">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                A/G ratio
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="agratio">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Albumin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="albumin">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Urea
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="urea">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Creatini
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="creatine">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Calcium
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="calcium">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Phosphorus
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="phos">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Sodium
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="sodium">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Potassium
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="potassium">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Chloride
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="chloride">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Uric Acid
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="uric">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Ferritin
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="ferritin">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                LDH
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="ldh">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                IL-6
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="il6">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                CRp-Alb
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="crpalb">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                D-Dimer
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="ddimer">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                Fibronigen
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="fibro">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                INR
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="inr">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1@s uk-padding round ">
                                HbA1c
                                <input class="uk-input round uk-margin-top" type="number" value="0" name="hba1c">
                                <div class="uk-card-badge uk-label" style="top:0;right:0;"></div>
                            </div>
                            
                            
                        </div>
                        <input type="submit" class="uk-button uk-button-primary uk-button-large uk-align-center round" value="Predict" >

                    </form>
                    
                    
                    
                </div>

            </div>
            
            
        </div>
    </div>

  
    <div class="uk-text-center" style="margin: 0;">
        <p style="font-size: small; margin: 0; padding-bottom: 5vh;">Webapp by <b><a class="uk-link-text" href="https://www.linkedin.com/in/dikshant-sagar-1964b7110/">Dikshant Sagar</a></b></p>
    </div>

    {% if error %}
    <script>
        alert("File does not contain 10 second data according to the given sampling rate. Check you file or check your sampling rate.");
    </script>
    {% endif%}
    
     <!-- Scripts
    <script>
        UIkit.modal("#instructions").show();
    </script> -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
</body>
</html>